<a href="https://colab.research.google.com/github/arodcru/arodcru/blob/main/ATIVIDADE_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#CONECTANDO NO BANCO DE BADOS
import sqlite3

#CRIANDO UM BANCO DE DADOS
conexao = sqlite3.connect('vendas.db')

#CRIANDO O CURSOR
cursor = conexao.cursor()

In [ ]:
#CRIANDO A TABELA SEM DADOS
cursor.execute("""
  CREATE TABLE vendas (
   id_vendas INTEGER PRIMARY KEY AUTOINCREMENT,
   data_vendas DATE,
   produto TEXT,
   categoria TEXT,
   valor_vendas REAL
  )
""")

In [ ]:
#INSERINDO DADOS NA TABELA VENDAS
cursor.execute("""
  INSERT INTO vendas ( data_vendas,produto, categoria, valor_vendas ) VALUES
    ('2025-08-24','Produto A','Eletronico', 1500.00),
    ('2025-08-15','Produto B','Roupas', 50.00),
    ('2025-08-25','Produto C','Eletronico', 1500.00),
    ('2025-08-15','Produto D','Livros', 200.00),
    ('2025-08-10','Produto E','Roupas', 100.00),
    ('2025-08-08','Produto F','Eletronico', 1500.00),
    ('2025-05-24','Produto G','livros', 150.00),
    ('2025-02-20','Produto H','Roupas', 180.00),
    ('2025-01-15','Produto I','Livros', 100.00);

""")

In [ ]:
#CONFIRMAR A MUDANÃ‡A
conexao.commit()